body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    margin: 150px auto;
    padding: 120px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 150px;
    max-width: 400px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.task-input {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 20px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="datetime-local"] {
    padding: 20px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
}

button {
    padding: 20px 30px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #2575fc;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

button:hover {
    background: #6a11cb;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task-text {
    flex: 1;
}

.completed {
    text-decoration: line-through;
    color: #d1d1d1;
}

li button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 0.8em;
    background: crimson;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

li button:hover {
    background: darkred;
}
